{% extends "accounts/base.html" %} {% block nav %}
<a class="btn btn-primary">Profile</a>
<a class="btn btn-success" href="{% url 'create_blog' %}"> Create Post </a>
{% endblock %} {% block content %}
<h1>Welcome to Doctor dashboard !</h1>
{% for blog in blogs %}
<div class="container bg-warning">
  <h3>{{blog.title}}</h3>
  <p>{{blog.content}}</p>
  {% if blog.user == user %}
  <a class="btn btn-info" href="{% url 'edit_blog' blog.id %}">Edit</a>
  <a class="btn btn-danger" href="{% url 'delete_blog' blog.id %}">Delete</a>
  {% endif %}
</div>
{% endfor %} {% endblock %}
