{% extends "accounts/base.html" %} {% block content %}
<h1>Welcome to healthcare</h1>
<a class="btn btn-info align-middle" href="{% url 'register' %}">SignUp</a>
<a class="btn btn-primary align-middle" href="accounts/login">Login</a>
<a class="btn btn-secondary align-middle" href="{% url 'available_doctors' %}"
  >View doctor</a
>

<a class="btn btn-info align-middle" href="dashboard">Blogs</a>
{% if request.user.is_staff %}
<h1>Your next appointment</h1>
{% for apt in apts %}
<div class="container bg-secondary">
  <h3>Patient: {{apt.patient}}</h3>
  <p>Speciality required: {{apt.required_speciacity}}</p>
  <p>Date: {{apt.appointment_date}}</p>
  <p>Start Time: {{apt.start_time}}</p>
  <p>End Time: {{apt.end_time}}</p>
</div>
{% endfor %} {% endif %} {% if request.user.is_staff == False %}
<h1>Your upcoming appointment</h1>
{% for apt in apts %}
<div class="container bg-secondary">
  <h3>Doctor: {{apt.doctor_appointed}}</h3>
  <p>Speciality required: {{apt.required_speciacity}}</p>
  <p>Date: {{apt.appointment_date}}</p>
  <p>Start Time: {{apt.start_time}}</p>
  <p>End Time: {{apt.end_time}}</p>
</div>
{% endfor %} {% endif %} {% endblock %}
